body {
    background: #eee;
}

.app {
    margin: 50px auto;
    max-width: 900px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
}

h1 {
    font-size: 30px;
}

h1 .btn {
    margin-left: 10px;
}

.border-none {
    border: none;
}

.totals-table {
    width: 200px;
}

.billing-info {
    max-width: 300px;
    white-space: pre-line;
}